<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grootan Login/SignUp</title>

    <link rel="stylesheet" href="../css/grootan.css">
    <link rel="stylesheet" href="../css/login.css">

    <script src="https://kit.fontawesome.com/08c3f952c9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <div class="fluid center">
        <div class="card mb-3" style="width:50%;">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex;justify-content: center;align-items: center;overflow: hidden;">
                <img src="images/loginPoster.jpg" class="img-fluid rounded-start" alt="Login Poster">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Login / Sign Up</h5>
                <form method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input class="form-control form-control-lg" type="text" placeholder="Email" name="mail">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control form-control-lg" type="password" placeholder="Password" name="password">
                    </div>
                    <input type="submit" class="btn btn-primary" name="login" value="Login" name=" login"/>
                    <input type="submit" class="btn btn-primary" name="signup" value="Signup" name=" signup"/>
                </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>