.products{
    display: flex;
}

.fluid{
    width:100vw;
    height:100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container{
    height: 500px;
    width:500px;
}

.ordering{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}