<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <button type="submit" onclick="accept_()" name="accept_order">accept</button>
    <button type="submit" onclick="decline_()" name="decline_order">decline</button>
    <script>
        function accept_(){
            $.post("../",{
                accept_order:true,
                id: "<%=order.id%>",
            },function(data, status){});
            setTimeout(()=>{window.close();},200)
        }

        function decline_(){
            window.close();
        }
    </script>
</body>
</html>